<!--Only 4 customers per table are allowed in the system, parties of +4 are possible but not registered in the system-->
<!--as physical relocation of tables is not a required recorded event-->
<!--If customer is not null, show the orders of first Customer-->
<mat-card class="subCard fontSerif" *ngIf="uniqueCustomers[0]">
  <mat-card-title>{{ uniqueCustomers[0].last_name }}, {{ uniqueCustomers[0].first_name }}</mat-card-title>
  <mat-card-content>
    <p *ngFor="let order of customer1">
      {{ order.dishname }}
      <br/>
      <sub>- {{ order.dish_desc}}</sub>
    </p>
  </mat-card-content>
</mat-card>
<!--If customer is not null, show the orders of second Customer-->
<mat-card class="subCard fontSerif" *ngIf="uniqueCustomers[1]">
  <mat-card-title>{{ uniqueCustomers[1].last_name }}, {{ uniqueCustomers[1].first_name }}</mat-card-title>
  <mat-card-content>
    <p *ngFor="let order of customer2">
      {{ order.dishname }}
      <br/>
      <sub>- {{ order.dish_desc}}</sub>
    </p>
  </mat-card-content>
</mat-card>
<!--If customer is not null, show the orders of third Customer-->
<mat-card class="subCard fontSerif" *ngIf="uniqueCustomers[2]">
  <mat-card-title>{{ uniqueCustomers[2].last_name }}, {{ uniqueCustomers[2].first_name }}</mat-card-title>
  <mat-card-content>
    <p *ngFor="let order of customer3">
      {{ order.dishname }}
      <br/>
      <sub>- {{ order.dish_desc}}</sub>
    </p>
  </mat-card-content>
</mat-card>
<!--If customer is not null, show the orders of fourth Customer-->
<mat-card class="subCard fontSerif" *ngIf="uniqueCustomers[3]">
  <mat-card-title>{{ uniqueCustomers[3].last_name }}, {{ uniqueCustomers[3].first_name }}</mat-card-title>
  <mat-card-content>
    <p *ngFor="let order of customer4">
      {{ order.dishname }}
      <br/>
      <sub>- {{ order.dish_desc}}</sub>
    </p>
  </mat-card-content>
</mat-card>

