.wrapper{
  margin: auto;
  width: 80%;
}

.cardbox {
  width: 25%;
  float: left;
  margin: 5px 40px 25px 5px;
}
.vertical-align-middle {
  vertical-align: middle;
}

.padding-bottom-7 {
  padding-bottom: 7px;
}
