<!--Tabs for the two different order view methods-->
<mat-card>
  <mat-card-title>
    Table {{ tableId }}
  </mat-card-title>
  <mat-card-content>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Order Overview">
        <div class="demo-tab-content">
          <!--Order overview of the orders, ordered by dishtype-->
          <app-order-overview [tableId]="tableId"></app-order-overview>
        </div>
      </mat-tab>
      <mat-tab label="Personal Overview">
        <div class="demo-tab-content">
          <!--Personal overview of the orders, ordered by name-->
          <app-personal-overview [tableId]="tableId"></app-personal-overview>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
