<div class="wrapper fontSerif">
  <mat-card>
    <mat-card class="TimeAndColor margin-bottom">
      <mat-card-title>Tijd- en kleurinstellingen</mat-card-title>
      <mat-label class="example-margin">Huidige stapwaarde: {{ sliderValue }} min.</mat-label>
      <br/>
      <!--Slider for time values-->
      <mat-slider
        class="example-margin"
        [step]=5
        [min]=5
        [max]=60
        [thumbLabel]=true
        [(ngModel)]="sliderValue"
        (change)="sliderChanged(sliderValue)"
      >
      </mat-slider>
      <br/>
      <!--Dropbox for color after first time border has been reached-->
      <mat-label class="example-margin">Kleur na {{ border_one }} min.:</mat-label>
      <mat-form-field class="dropbox">
        <mat-select [(value)]="color_one" class="dropbox" (change)="colorOneChanged(color_one)">
          <mat-option value="#ffcc99">Oranje</mat-option>
          <mat-option value="yellow">Geel</mat-option>
          <mat-option value="#ff6666">Licht Rood</mat-option>
          <mat-option value="red">Rood</mat-option>
          <mat-option value="violet">Violet</mat-option>
          <mat-option value="tan">Bruin</mat-option>
          <mat-option value="green">Groen</mat-option>
          <mat-option value="blue">Blauw</mat-option>
          <mat-option value="white">Wit</mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <!--Dropbox for color after second time border has been reached-->
      <mat-label class="example-margin">Kleur na {{ border_two }} min.:</mat-label>
      <mat-form-field class="dropbox">
        <mat-select [(value)]="color_two" class="dropbox" (change)="colorTwoChanged(color_two)">
          <mat-option value="#ffcc99">Oranje</mat-option>
          <mat-option value="yellow">Geel</mat-option>
          <mat-option value="#ff6666">Licht Rood</mat-option>
          <mat-option value="red">Rood</mat-option>
          <mat-option value="violet">Violet</mat-option>
          <mat-option value="tan">Bruin</mat-option>
          <mat-option value="green">Groen</mat-option>
          <mat-option value="blue">Blauw</mat-option>
          <mat-option value="white">Wit</mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
    </mat-card>
    <mat-card class="DefaultView">
      <mat-card-title>Weergave-instellingen</mat-card-title>
      <mat-label class="example-margin">Weergave bestelling: </mat-label>
      <mat-form-field>
        <!--Dropbox for two different order views-->
        <mat-select [(value)]="orderdisplay" (change)="orderChanged(orderdisplay)">
          <mat-option value="personal">Per persoon</mat-option>
          <mat-option value="byType">Per gerechttype</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
  </mat-card>
</div>
