.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
  width: 75%;
}

.mat-slider-horizontal {
  width: 300px;
}

.margin-bottom {
  margin-bottom: 5px;
}

.wrapper{
  width: 35%;
  margin: auto;
}
.fontSerif{
  font-family: Georgia, 'Times New Roman', serif;
}
